/* 
    Document   : newsletter
    Created on : Oct 19, 2011, 4:47:06 PM
    Author     : Ariel Parra <ariel@rotterdam-cs.com>
    Description:
        Purpose of the stylesheet follows.
*/
.category-combo {
    width: 150px;
}

.article-viewer {
    width: 700px;
    height: 300px;
    overflow: auto;
    border: black thin solid;
}
#paginator span{
    padding: 2px;
}