/* 
    Document   : newsletter
    Created on : Oct 19, 2011, 4:47:06 PM
    Author     : Ariel Parra <ariel@rotterdam-cs.com>
    Description:
        Purpose of the stylesheet follows.
*/
.category-combo {
    width: 150px;
}

.article-viewer {
    width: 700px;
    height: 300px;
    overflow: auto;
    border: black thin solid;
}
#paginator span{
    padding: 2px;
}
#paginator{
    margin-bottom: 10px;
}

.newsletter-panel-action-submenu {
    width: 40px;
}

.newsletter-panel-column-action {    
    width: 70px!important;
}

.newsletter-panel-column-email, newsletter-panel-column-name, newsletter-panel-column-description {
    width: 200px;
}

.newsletter-panel-column-date {
    width: 100px;
}
.newsletter-panel-column-list, newsletter-panel-column-article {
    width: 100px;
}

.newsletter-panel-column-id{
    width: 10px;
}


.newsletter-forms-form {
    margin-bottom: 10px;
}

.newsletter-forms-form-panel {
   margin-top: 10px;
   margin-bottom: 10px;
   
}

.newsletter-forms-form-listbox{
    margin-right: 10px!important;
}

.newsletter-forms-input-text {
    width: 250px!important;
}
.newsletter-forms-input-textarea {
    width: 245px!important;
}

.newsletter-forms-form td {
    padding: 2px;
}

.newsletter-forms-column-left{
   width: 120px;
}

.newsletter-forms-column-right{
    width: 280px;
}

.newsletter-forms-button {
    margin-right: 10px!important;
}

.newsletter-forms-confirmation-delete-panel{
    margin-top: 5px;
}


/*Registartion Styles*/
.registration-sucess {
    font-size: medium;
}

.registration-form {
    width: 90%;
}

.newsletter-registration-column-left{
    width: 30%;
}

.newsletter-registration-column-right{
    width: 70%;
}

.registration-form-buttons {
    text-align: right;
}

.registration-form-buttons-left{
    text-align: left;
}

.newsletter-registration-input-text {
    width: 90%!important;
}

.newletter-registration-settings {
    text-align: left;
}

.wijmo-wijmenu .wijmo-wijmenu-parent .wijmo-wijmenu-child {
    width: 200px!important;
}

.activationkey {
    display: none;
}

.registration-confirmation-messages {
    font-size: large;
    background-color: #BDE5F8;
    color: #00529B;
    
    border: 1px solid;
    margin: 10px 0;
    padding: 10px;
}

.newsletter-confirmation-msg {    
    text-align: center!important;
    display: none;
}
.newsletter-forms-column-1-filterlist{
  width: 180px;
  padding-right: 20px;
}
.newsletter-forms-column-2-filterlist{
  padding-right: 20px;
}
.newsletter-forms-column-3-filterlist{
  width: 20px;
}
.newsletter-forms-column-4-filterlist{
  width: 200px;  
}
.exportbutton{
    padding: 6px!important;
    margin-left: 10px;
}
.newsletter-confirmation-msg{
    padding: 20px;
}