/* 
    Document   : newsletter
    Created on : Oct 19, 2011, 4:47:06 PM
    Author     : Ariel Parra <ariel@rotterdam-cs.com>
    Description:
        Purpose of the stylesheet follows.
*/
.category-combo {
    width: 150px;
}

.article-viewer {
    width: 700px;
    height: 300px;
    overflow: auto;
    border: black thin solid;
}
#paginator span{
    padding: 2px;
}
.newsletter-panel-action-submenu {
    width: 40px;
}

.newsletter-panel-column-action {    
    width: 70px!important;
}

.newsletter-panel-column-email, newsletter-panel-column-name, newsletter-panel-column-description {
    width: 200px;
}
.newsletter-panel-column-list, newsletter-panel-column-article {
    width: 100px;
}

.newsletter-panel-column-id{
    width: 10px;
}


.newsletter-forms-form {
    margin-bottom: 10px;
}

.newsletter-forms-form-panel {
   margin: 10px; 
}

.newsletter-forms-form-listbox{
    margin-right: 10px!important;
}

.newsletter-forms-input-text {
    width: 250px!important;
}
.newsletter-forms-input-textarea {
    width: 245px!important;
}

.newsletter-forms-form td {
    padding: 2px;
}

.newsletter-forms-column-left{
   width: 120px
}

.newsletter-forms-column-right{
    width: 280px;
}

.newsletter-forms-button {
    margin-right: 10px!important;
}

.newsletter-forms-confirmation-delete-panel{
    margin-top: 5px;
}


.registration-sucess {
    font-size: medium;
}